<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.mapper.AdminMapper">
    <resultMap id="ResultMap" type="com.apkkids.bean.Admin">
        <id column="id" property="id" />
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name_ch" property="name_ch"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="is_enabled" property="is_enabled"/>
        <result column="gmt_created" property="gmt_created"/>
        <result column="gmt_modifed" property="gmt_modifed"/>
    </resultMap>
    <select id="getAllAdmin" resultMap="ResultMap">
        SELECT * FROM admin_sys;
    </select>
    <select id="getAdminById" resultMap="ResultMap">
        SELECT * FROM admin_sys WHERE id=#{id};
    </select>
</mapper>