<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.mapper.PositionMapper">
    <resultMap id="ResultMap" type="com.apkkids.bean.Position">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gmt_created" property="gmt_created"/>
        <result column="gmt_modifed" property="gmt_modifed"/>
    </resultMap>
    <select id="getAllPositions" resultMap="ResultMap">
        SELECT * FROM position_dic;
    </select>
    <insert id="addPosition" parameterType="com.apkkids.bean.Position">
        INSERT INTO position_dic (name,gmt_created,gmt_modified) VALUES
        (#{position.name},#{position.gmt_created},#{position.gmt_modified});
    </insert>
    <!--删除多个记录的方法-->
    <delete id="deletePositions" parameterType="int">
        delete from position_dic where id in
        <foreach collection="ids" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <update id="updatePosition" parameterType="com.apkkids.bean.Position">
        UPDATE position_dic
        <set>
            name = #{position.name,jdbcType=VARCHAR},
            gmt_created =#{position.gmt_created,jdbcType=DATE},
            <if test="position.gmt_modified != null">
                gmt_modified =#{position.gmt_modified,jdbcType=DATE},
            </if>
        </set>
        WHERE id=#{position.id,jdbcType = BIGINT};
    </update>
</mapper>